<%= form_for(sort_type) do |f| %>
  <% if sort_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sort_type.errors.count, "error") %> prohibited this sort_type from being saved:</h2>

      <ul>
      <% sort_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
