<div class="dates_unavailable">
  <%= f.label :unavailable_start_date %><br />
  <%= f.date_select :unavailable_start_date, {:include_blank => true, :default => nil} %>
  <%= f.label :unavailable_end_date %><br />
  <%= f.date_select :unavailable_end_date, {:include_blank => true, :default => nil} %>
</div>
<p>It works.</p>
