<p id="notice"><%= notice %></p>

<table>
  <tbody>
    <tr>
      <td>Position: </td>
      <td>Team Member: </td>
    </tr>
    <% @schedule.responsibilities.each do |r| %>
      <tr>
        <td><%= r.position.name %></td>
        <td><%#= r.team_member.full_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
